@charset "UTF-8";
/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
 * Correct the line height in all browsers.
 */
html {
  line-height: 1.15;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  -webkit-text-decoration-skip: objects;
}

/**
 * Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title__logo {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.title__navigation {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.title__address {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.title__header-h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.title__header-h2 {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title__header-h3 {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title__header-light {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title__header-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.title__text {
  font-style: normal;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title__text-label {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.title__description {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.title__header-about {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #212121;
}

.title__header-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.title__text-about {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.title_input {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.title__button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.title__button-light {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.animation__color {
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.animation__background-color {
  -webkit-transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.animation__border-color {
  -webkit-transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.animation__fill {
  -webkit-transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.animation__opacity {
  -webkit-transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.animation__filter {
  -webkit-transition: 250ms -webkit-filter cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-filter cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms filter cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms filter cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-filter cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header__link-logo {
  display: block;
  text-decoration: none;
  margin-right: 93px;
}

.header__link-logo-color {
  color: #000000;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.header__list-margin {
  margin-left: auto;
}

.header__list-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item-menu-margin:not(:last-child) {
  margin-right: 50px;
}

.header__item-address-margin:not(:last-child) {
  margin-right: 30px;
}

.header__link-navigation {
  position: relative;
  display: block;
  text-decoration: none;
}

.header__link-navigation::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #2196f3;
  opacity: 0;
  -webkit-transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link-navigation.current, .header__link-navigation:hover, .header__link-navigation:active, .header__link-navigation:focus {
  color: #2196f3;
}

.header__link-navigation.current::after {
  opacity: 1;
}

.header__link-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__icon {
  fill: #afb1b8;
  margin-right: 10px;
}

.header__link-address:hover, .header__link-address:active, .header__link-address:focus {
  color: #2196f3;
}

.header__link-address:hover .header__icon,
.header__link-address:active .header__icon,
.header__link-address:focus .header__icon {
  fill: #2196f3;
}

/* Секция "Подвал" */
.footer {
  width: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__link-logo {
  display: inline-block;
  text-decoration: none;
  margin-right: 0;
  margin-bottom: 20px;
}

.footer__link-logo-color {
  color: #ffffff;
}

.footer__address {
  margin-right: 70px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  text-decoration: none;
}

.footer__link-light {
  color: #ffffff;
}

.footer__link-dark {
  color: rgba(255, 255, 255, 0.6);
}

.footer__link:hover,
.footer__link:active,
.footer__link:focus {
  color: #2196f3;
}

.footer__social {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
}

.footer__list-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.footer__item-social:not(:last-child) {
  margin-right: 10px;
}

.footer__link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.footer__link-social:hover,
.footer__link-social:active,
.footer__link-social:focus {
  background-color: #2196f3;
}

.footer__icon {
  fill: #ffffff;
}

.footer__form {
  margin-right: 0;
  margin-left: auto;
}

.footer__label {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
}

.footer__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px 15px 16px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  background: #2f303a;
  -webkit-transition: 250ms -webkit-filter cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-filter cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms filter cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms filter cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-filter cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__input:hover,
.footer__input:active,
.footer__input:focus {
  border: 1px solid #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer__button {
  width: 200px;
  height: 50px;
  padding: 0 0 0 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms -webkit-filter cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-filter cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms filter cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms filter cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-filter cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__button:hover,
.footer__button:active,
.footer__button:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer__label-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icon-button {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.hero {
  display: block;
  text-align: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), color-stop(40%), to(transparent)), url(../images/webstudio-bgimage.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), 40%, transparent 100%), url(../images/webstudio-bgimage.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 0;
}

.hero__button {
  width: 200px;
  height: 50px;
}

.hero__button:hover, .hero__button:active, .hero__button:focus {
  background-color: #188ce8;
  border-radius: 0px;
}

/* Модальное окно "Заказать услугу" */
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: block;
  padding: 0 0 0 0;
  top: 50%;
  left: 50%;
  width: 530px;
  height: 580px;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 8px;
  margin-bottom: 2px;
  margin-right: 8px;
}

.modal__button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.modal__icon-close {
  width: 11px;
  height: 11px;
  fill: black;
  -webkit-transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover .modal__icon-close {
  fill: #2196f3;
  -webkit-transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__header {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0 0 0 0;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.modal__input-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;
}

.modal__comment-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  margin-bottom: 0px;
}

.modal__checkbox-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 448px;
  margin-bottom: 30px;
}

.modal__input-text {
  margin-top: 0;
  margin-bottom: 4px;
  padding: 0 0 0 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__checkbox-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 7px;
  padding: 0 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-width: 0px;
  cursor: pointer;
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  -webkit-transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-input {
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  fill: #212121;
  -webkit-transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-checkbox {
  position: absolute;
  top: 18%;
  left: 12px;
  width: 16px;
  height: 15px;
  fill: #212121;
  -webkit-transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-checkbox-checked {
  position: absolute;
  top: 18%;
  left: 12px;
  width: 16px;
  height: 15px;
  fill: #212121;
  opacity: 0;
  -webkit-transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-width: 0px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox {
  opacity: 0;
  margin-right: 7px;
}

.modal__checkbox:checked ~ .modal__icon-checkbox {
  opacity: 0;
}

.modal__checkbox:checked ~ .modal__icon-checkbox-checked {
  opacity: 1;
}

.modal__link {
  color: #2196f3;
}

.modal__button {
  width: 200px;
  height: 50px;
  padding: 0 0 0 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__button:hover, .modal__button:active, .modal__button:focus {
  background-color: #188ce8;
}

.modal__input:hover ~ .modal__icon-input,
.modal__input:active ~ .modal__icon-input,
.modal__input:focus ~ .modal__icon-input, .modal__input:hover, .modal__input:active, .modal__input:focus, .modal__comment:hover, .modal__comment-input:active, .modal__comment-input:focus {
  border-color: #2196f3;
  fill: #188ce8;
}

/* Секция "Особенности" */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.features__item {
  display: block;
  margin-top: 0;
  margin-bottom: 0px;
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
}

.features__icon {
  width: 70px;
  height: 70px;
  fill: #212121;
}

.features__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* Секция "Чем мы занимаемся" */
.functions {
  padding-bottom: 94px;
  background-color: #ffffff;
}

.functions__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.functions__text {
  margin-top: 0;
  margin-bottom: 0;
}

.functions__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.functions__list img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.functions__item {
  position: relative;
}

.functions__item:not(:last-child) {
  margin-right: 30px;
}

.functions__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

/* Секция "Наша команда" */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.team__list img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.team__item {
  display: block;
  width: 270px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__label {
  text-align: center;
  padding: 30px 20px 30px 20px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 0;
}

.team__text {
  margin-top: 10px;
  margin-bottom: 0;
}

.team__list-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 16px;
  margin-bottom: 0;
}

.team__link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.team__item-social:not(:last-child) {
  margin-right: 10px;
}

.team__icon {
  fill: #afb1b8;
}

.team__link-social:hover .team__icon,
.team__link-social:active .team__icon,
.team__link-social:focus .team__icon {
  fill: #ffffff;
}

.team__link-social:hover, .team__link-social:active, .team__link-social:focus {
  background-color: #2196f3;
}

/* Секция 'Постоянные клиенты' */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.clients__item {
  display: block;
  height: 90px;
  width: 170px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__item:hover, .clients__item:active, .clients__item:focus {
  border-color: #2196f3;
}

.clients__icon {
  fill: #afb1b8;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
}

.clients__link:hover .clients__icon,
.clients__link:active .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

/* Секция списка проектов */
.portfolio {
  background-color: #ffffff;
  color: #757575;
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__filter {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus, .portfolio__button:active {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__list {
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__list img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio__card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio__card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio__about {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio__header-about {
  display: block;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio__text-about {
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio__description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.portfolio__link {
  text-decoration: none;
  display: block;
  -webkit-transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__image {
  position: relative;
  overflow: hidden;
  -webkit-transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__description {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.portfolio__link:hover .portfolio__image {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__link:hover, .portfolio__link:focus, .portfolio__link:active {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=main.css.map */