:root {
  --body-default-text-color: #757575;
  --body-light-text-color: #ffffff;
  --body-default-header-color: #212121;
  --body-dark-header-color: #000000;
  --body-default-background-color: #ffffff;
  --body-light-background-color: #f5f4fa;
  --body-default-logo-color: #2196f3;
  --body-default-icon-color: #afb1b8;

  --main-hero-background-color: #c4c4c4;
  --header-border-color: #ececec;
  --footer-background-color: #2f303a;
  --main-button-hover-color: #188ce8;
  --portfolio-project-list-border-color: #eeeeee;

  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --main-hero-background-blackdrop: rgba(0, 0, 0, 0.2);
  --main-hero-background: rgba(47, 48, 58, 0.4);
  --main-functions-label-background-color: rgba(47, 48, 58, 0.8);
  --portfolio-project-list-hover-background-color: rgba(33, 150, 243, 0.9);
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-default-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*  Секция "Верхняя линия" */

.title__logo {
  color: var(--body-default-logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.title__navigation {
  color: var(--body-default-header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.title__address {
  color: var(--body-default-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.title__header {
}
.title__text {
}

.animation__color {
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}
.animation__fill {
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background-color: var(--body-default-background-color);
  border-bottom: 1px solid var(--header-border-color);
}
.header__link-logo {
  display: block;
  text-decoration: none;
  margin-right: 93px;
}

.header__link-logo-color {
  color: var(--body-dark-header-color);
}

.header__navigation {
  display: flex;
  align-items: center;
}
.header__list {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.header__list-margin {
  margin-left: auto;
}
.header__list-center {
  align-items: center;
}
.header__item_menu-margin:not(:last-child) {
  margin-right: 50px;
}
.header__item_address-margin:not(:last-child) {
  margin-right: 30px;
}
.header__link-navigation {
  position: relative;
  display: block;
  text-decoration: none;
}

.header__link-navigation::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--body-default-logo-color);
  opacity: 0;
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link-navigation.current,
.header__link-navigation:hover,
.header__link-navigation:active,
.header__link-navigation:focus {
  color: var(--body-default-logo-color);
}

.header__link-navigation.current::after {
  opacity: 1;
}

.header__link-address {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__icon {
  fill: var(--body-default-icon-color);
  margin-right: 10px;
}

.header__link-address:hover,
.header__link-address:active,
.header__link-address:focus {
  color: var(--body-default-logo-color);
}

.header__link-address:hover .header__icon,
.header__link-address:active .header__icon,
.header__link-address:focus .header__icon {
  fill: var(--body-default-logo-color);
}

/*





*/

.logo-link.footer {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--body-light-text-color);
}

/* Секция "Шапка" */
.hero-section {
  display: block;
  text-align: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-hero-background-color);
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      40%,
      transparent 100%
    ),
    url(../images/webstudio-bgimage.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}
.hero-section-header {
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--body-light-text-color);
}
.hero-section-button {
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  background-color: var(--body-default-logo-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--body-light-text-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section-button:hover,
.hero-section-button:active,
.hero-section-button:focus {
  background-color: var(--main-button-hover-color);
  border-radius: 0px;
}

/* Модальное окно "Заказать услугу" */
.hero-section-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: var(--main-hero-background-blackdrop);
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero-section-modal {
  position: absolute;
  display: block;
  padding: 0 0 0 0;
  top: 50%;
  left: 50%;
  width: 530px;
  height: 580px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background: var(--body-default-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.hero-section-modal-close-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  margin-bottom: 2px;
  margin-right: 8px;
}

.hero-section-modal-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--body-default-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.hero-section-modal-button-close:hover .modal-icons {
  fill: var(--body-default-logo-color);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icons {
  width: 11px;
  height: 11px;
  fill: black;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-modal-header {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0 0 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-default-header-color);
}

.hero-section-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section-modal-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.hero-section-modal-input-label {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;
}
.hero-section-modal-comment-label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 0px;
}

.hero-section-modal-checkbox-label {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 448px;
  margin-bottom: 30px;
}

.hero-section-modal-label-text {
  margin-top: 0;
  margin-bottom: 4px;
  padding: 0 0 0 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--body-default-text-color);
}

.hero-section-modal-checkbox-label-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 7px;
  padding: 0 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-default-text-color);
}

.hero-section-modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  outline-width: 0px;
  cursor: pointer;
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-modal-input-icons {
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  fill: var(--body-default-header-color);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-modal-checkbox-icons {
  position: absolute;
  top: 18%;
  left: 12px;
  width: 16px;
  height: 15px;
  fill: var(--body-default-header-color);
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-modal-checkbox-icons-checked {
  position: absolute;
  top: 18%;
  left: 12px;
  width: 16px;
  height: 15px;
  fill: var(--body-default-header-color);
  opacity: 0;
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-modal-comment-input {
  width: 448px;
  height: 120px;
  padding: 12px 16px 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  outline-width: 0px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-modal-checkbox-input {
  opacity: 0;
  margin-right: 7px;
}

.hero-section-modal-checkbox-input:checked
  ~ .hero-section-modal-checkbox-icons {
  opacity: 0;
}

.hero-section-modal-checkbox-input:checked
  ~ .hero-section-modal-checkbox-icons-checked {
  opacity: 1;
}

.hero-section-license-link {
  color: var(--body-default-logo-color);
}

.hero-section-modal-submit-button {
  width: 200px;
  height: 50px;
  padding: 0 0 0 0;
  align-items: center;
  text-align: center;
  background-color: var(--body-default-logo-color);
  color: var(--body-light-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-modal-submit-button:hover,
.hero-section-modal-submit-button:active,
.hero-section-modal-submit-button:focus {
  background-color: var(--main-button-hover-color);
}

.hero-section-modal-input:hover ~ .hero-section-modal-input-icons,
.hero-section-modal-input:active ~ .hero-section-modal-input-icons,
.hero-section-modal-input:focus ~ .hero-section-modal-input-icons,
.hero-section-modal-input:hover,
.hero-section-modal-input:active,
.hero-section-modal-input:focus,
.hero-section-modal-comment-input:hover,
.hero-section-modal-comment-input:active,
.hero-section-modal-comment-input:focus {
  border-color: var(--body-default-logo-color);
  fill: var(--main-button-hover-color);
}

/* Секция "Особенности" */
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--body-default-background-color);
}

.features-section-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.features-section-list-item {
  display: block;
  margin-top: 0;
  margin-bottom: 0px;
  width: 270px;
}

.features-section-list-item:not(:last-child) {
  margin-right: 30px;
}

.featutes-section-header {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--body-default-header-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.featutes-section-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--body-default-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-icons {
  width: 70px;
  height: 70px;
  fill: var(--body-default-header-color);
}

.features-section-set {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: var(--body-light-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* Секция "Чем мы занимаемся" */
.functions-section {
  padding-bottom: 94px;
  background-color: var(--body-default-background-color);
}
.functions-section-header {
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--body-default-header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.functions-section-list img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.functions-section-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.functions-section-list-item {
  position: relative;
}

.functions-section-list-item:not(:last-child) {
  margin-right: 30px;
}

.function-section-list-item-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-top: 27px;
  padding-bottom: 27px;
  background: var(--main-functions-label-background-color);
}
.function-section-list-item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-light-text-color);
}

/* Секция "Наша команда" */
.team-section {
  display: block;
  text-align: center;
  width: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--body-light-background-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--body-default-text-color);
}

.team-section-header {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--body-default-header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section-list {
  display: flex;
  list-style: none;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.team-section-list img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.team-section-list-item {
  display: block;
  width: 270px;
  background-color: var(--body-default-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-section-list-card {
  padding: 30px 20px 30px 20px;
}

.team-section-name {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--body-default-header-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section-text {
  margin-top: 10px;
  margin-bottom: 0;
}

.team-section-social-list {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 16px;
  margin-bottom: 0;
}
.team-section-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section-social-list-link:hover .social-icons,
.team-section-social-list-link:active .social-icons,
.team-section-social-list-link:focus .social-icons {
  fill: var(--body-light-text-color);
}

.team-section-social-list-link:hover,
.team-section-social-list-link:active,
.team-section-social-list-link:focus {
  background-color: var(--body-default-logo-color);
}

.team-section-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons {
  width: 20px;
  height: 20px;
  fill: var(--body-default-icon-color);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section {
  display: block;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--body-default-background-color);
}
.clients-section-header {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--body-default-header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-icons {
  fill: var(--body-default-icon-color);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section-list {
  display: flex;
  list-style: none;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.clients-section-list-item {
  display: block;
  height: 90px;
  width: 170px;
  border: 1px solid var(--body-default-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-section-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-section-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
}

.clients-section-list-link:hover .clients-icons,
.clients-section-list-link:active .clients-icons,
.clients-section-list-link:focus .clients-icons {
  fill: var(--body-default-logo-color);
}

.clients-section-list-item:hover,
.clients-section-list-item:active,
.clients-section-list-item:focus {
  border-color: var(--body-default-logo-color);
}

/* Секция "Подвал" */
.footer-section {
  width: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-section-data {
  display: flex;
  align-items: baseline;
}
.footer-address-card {
  margin-right: 70px;
}

.footer-section-list {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;

  flex-direction: column;
  list-style: none;
}

.footer-section-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-section-address {
  text-decoration: none;
  color: var(--body-light-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-section-address:hover,
.footer-section-address:active,
.footer-section-address:focus {
  color: var(--body-default-logo-color);
}

.footer-section-text {
  text-decoration: none;
  color: var(--footer-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-section-text:hover,
.footer-section-text:active,
.footer-section-text:focus {
  color: var(--body-default-logo-color);
}

.footer-section-social-card {
  margin-top: 0;
  margin-bottom: 0;
}
.footer-section-social-name {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--body-light-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-section-social-list {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.footer-section-social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--footer-icon-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.footer-section-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-section-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-section-social-list-link:hover,
.footer-section-social-list-link:active,
.footer-section-social-list-link:focus {
  background-color: var(--body-default-logo-color);
}
.footer-social-icons {
  width: 20px;
  height: 20px;
  fill: var(--body-light-text-color);
}

.footer-section-mail-subscribe-form {
  margin-right: 0;
  margin-left: auto;
}

.footer-section-mail-subscribe-form-label {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-light-text-color);
}

.footer-section-mail-subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px 15px 16px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  background: var(--footer-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1),
    250ms filter cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section-mail-subscribe-input:hover,
.footer-section-mail-subscribe-input:active,
.footer-section-mail-subscribe-input:focus {
  border: 1px solid var(--body-default-logo-color);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-section-mail-subscribe-button {
  width: 200px;
  height: 50px;
  padding: 0 0 0 0;
  align-items: center;
  text-align: center;
  background-color: var(--body-default-logo-color);
  color: var(--body-light-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms filter cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section-mail-subscribe-button:hover,
.footer-section-mail-subscribe-button:active,
.footer-section-mail-subscribe-button:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-section-mail-subscribe-button-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-subscribe-icons {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--body-light-text-color);
}

/* Секция списка проектов */
.portfolio-project-section {
  background-color: var(--body-default-background-color);
  color: var(--body-default-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-project-section h3 {
  color: var(--body-default-header-color);
}
.portfolio-filtr-project-list {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
}

.portfolio-filtr-project-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filtr-project-button {
  background-color: var(--body-light-background-color);
  color: var(--body-default-header-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1),
    250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1),
    250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filtr-project-button:hover,
.portfolio-filtr-project-button:focus,
.portfolio-filtr-project-button:active {
  background-color: var(--body-default-logo-color);
  color: var(--body-light-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-project-list {
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.portfolio-project-list img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-project-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-project-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-project-list-card {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--portfolio-project-list-border-color);
  border-top: 0;
}

.portfolio-project-header {
  display: block;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: var(--body-default-header-color);
}

.portfolio-project-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--body-default-text-color);
}

.portfolio-project-about {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-project-list-hover-background-color);
  color: var(--body-default-background-color);
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.portfolio-project-link {
  text-decoration: none;
  display: block;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-image {
  position: relative;
  overflow: hidden;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-link:hover .portfolio-project-about {
  transform: translatey(0);
}

.portfolio-project-link:hover .portfolio-project-image {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-project-link:hover,
.portfolio-project-link:focus,
.portfolio-project-link:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
