/* Модальное окно "Заказать услугу" */
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: $main-hero-background-blackdrop;
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  display: block;
  padding: 0 0 0 0;
  top: 50%;
  left: 50%;
  width: 530px;
  height: 580px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background: $body-default-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__close {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 2px;
    margin-right: 8px;
  }
  &__button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: $body-default-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  &__icon-close {
    width: 11px;
    height: 11px;
    fill: black;
    transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__button-close:hover &__icon-close {
    fill: $body-default-logo-color;
    transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__header {
    display: block;
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0 0 0 0;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  &__input-label {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 10px;
  }
  &__comment-label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 0px;
  }
  &__checkbox-label {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 448px;
    margin-bottom: 30px;
  }
  &__input-text {
    margin-top: 0;
    margin-bottom: 4px;
    padding: 0 0 0 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $body-default-text-color;
  }
  &__checkbox-text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 7px;
    padding: 0 0 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $body-default-text-color;
  }
  &__input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    outline-width: 0px;
    cursor: pointer;
    border-radius: 4px;
    padding: 11px 12px 11px 42px;
    transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon-input {
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    margin-left: 12px;
    fill: $body-default-header-color;
    transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon-checkbox {
    position: absolute;
    top: 18%;
    left: 12px;
    width: 16px;
    height: 15px;
    fill: $body-default-header-color;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon-checkbox-checked {
    position: absolute;
    top: 18%;
    left: 12px;
    width: 16px;
    height: 15px;
    fill: $body-default-header-color;
    opacity: 0;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__comment {
    width: 448px;
    height: 120px;
    padding: 12px 16px 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    outline-width: 0px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__checkbox {
    opacity: 0;
    margin-right: 7px;
  }
  &__checkbox:checked ~ &__icon-checkbox {
    opacity: 0;
  }
  &__checkbox:checked ~ &__icon-checkbox-checked {
    opacity: 1;
  }

  &__link {
    color: $body-default-logo-color;
  }

  &__button {
    width: 200px;
    height: 50px;
    padding: 0 0 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__button:hover,
  &__button:active,
  &__button:focus {
    background-color: $main-button-hover-color;
  }

  &__input:hover ~ &__icon-input,
  &__input:active ~ &__icon-input,
  &__input:focus ~ &__icon-input,
  &__input:hover,
  &__input:active,
  &__input:focus,
  &__comment:hover,
  &__comment-input:active,
  &__comment-input:focus {
    border-color: $body-default-logo-color;
    fill: $main-button-hover-color;
  }
}
