/* Секция 'Постоянные клиенты' */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $body-default-background-color;
}
.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  list-style: none;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.clients__item {
  display: block;
  height: 90px;
  width: 170px;
  border: 1px solid $body-default-icon-color;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__item:hover,
.clients__item:active,
.clients__item:focus {
  border-color: $body-default-logo-color;
}
.clients__icon {
  fill: $body-default-icon-color;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
}
.clients__link:hover .clients__icon,
.clients__link:active .clients__icon,
.clients__link:focus .clients__icon {
  fill: $body-default-logo-color;
}
