/* Секция 'Постоянные клиенты' */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $body-default-background-color;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    list-style: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__item {
    display: block;
    height: 90px;
    width: 170px;
    border: 1px solid $body-default-icon-color;
    box-sizing: border-box;
    border-radius: 4px;
    transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item:hover,
  &__item:active,
  &__item:focus {
    border-color: $body-default-logo-color;
  }
  &__icon {
    fill: $body-default-icon-color;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
  }
  &__link:hover &__icon,
  &__link:active &__icon,
  &__link:focus &__icon {
    fill: $body-default-logo-color;
  }
}
